<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="principal">
        <h1>Agregar la pelicula</h1>
        <form action="/agregar_peli" method="post">
            <input type="text" placeholder="Inserte el nombre de la pelicula" name="nombre_pelicula">
            <input type="text" placeholder="Inserte la portada (imagen)" name="portada">
            <input type="text" placeholder="Inserte la descripcion de la pelicula" name="descripcion">
            <input type="number" placeholder="Inserte el precio de la pelicula" name="precio">
            <input type="submit" value="Agregar pelicula">
        </form>
    </section>
</body>
</html>