<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <style>
        *{
            margin: 0;
            padding: 0;
            font-family: "Poppins", sans-serif;
        }
        #principal{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            width: 100%;
            align-self: center;
            background: linear-gradient(to right, rgb(190, 18, 60), rgb(219, 39, 119));
        }
        #bienvenida{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 5%;
            height: 50%;
            width: 90%;
            background: grey;
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
        #contenedor_img{
            height: 100%;
            width: 50%;
            text-align: center;
        }
        #contenedor_img img {
            height: 90%;
            margin-top: 3%;
            border-radius: 10px;
        }
        #texto{
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            height: 100%;
            width: 50%;
            text-align: center;

        }
        #titulo{
            font-size: 30px;
            
        }
        #descripcion{
            font-size: 18px;
            width: 50%;
            text-align: center;
            margin-left: 25%;
            margin-top: 5%;
        }
        #register/login{
            display: flex;
            flex-direction: column;
        }
        #register a {
            text-decoration: none;
            color: darkred;
            font-size: 16px;
        }
        #register a:hover{
            text-decoration: underline;
        }
        #login a {
            text-decoration: none;
            color: darkred;
            font-size: 16px;
        }
        #login a:hover{
            text-decoration: underline;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <section id="principal">
        <div id="bienvenida">
            <div id="contenedor_img">
                <img src="https://i.gifer.com/rX.gif" alt="">
            </div>
            <div id="texto">
                <div id="titulo">
                    <h1>Bienvenido a CinePuig</h1>
                </div>
                <div id="descripcion">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias repellendus quas doloremque nostrum nisi sapiente a ea, delectus dolore dolorem vero officiis hic, dolores esse aspernatur harum recusandae perferendis ipsam.</p>
                </div>
                <div id="register/login">
                    <div id="register">
                        <a href="/register">Registrarse</a>
                    </div>
                    <div id="login">
                        <a href="/login">¿Ya tienes cuenta?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>